body {
    padding: 0;
    margin: 0;
}
.screen {
    height: 100vh;
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.playArea {
    width: 33%;
    height: 33%;
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
	min-width: 450px;
	flex-wrap: wrap;
}
.selected {
    position: absolute;
	bottom: 0;
	left: 0;
	/* background: brown; */
	z-index: 1;
}

.otherPlayers {
    width: calc(100vw - 2px);
    overflow: hidden;
    flex-direction: row;
}

.otherPlayer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(19% - 2px);
    border: 1px solid #eefaff;
}

.card {
    width: 100px;
    aspect-ratio: 4/5;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
.facedown {
    background-color: skyblue;
}
.faceup {
    background-color: #fdffe4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nonexistent {
    border: none;
    background-color: none;
}
.otherPlayer .card {
    width: 20%;
}

.hidden {
    display: none;
}